# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Datos derivados (los crudos en data/raw sí se versionan)
data/processed/
*.parquet

# Notebooks
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# pytest
.pytest_cache/
