AQ	CO
BB	BBJ
BB	CC
BB	CCEZ1
BBD	BBJ
BBD	SU
BU	GO
BU	TL
CC	CCEZ1
CCEZ2	CCEZ3
CCEZ3	CCEZ4
CCEZ4	EZ
CO	LT
CV	ZWCV2
CW	GUQ
CW	JC
CW	CWS
CWS	TS
ES	LMC
ES	ESC
ES	LMH
ESC	ESH
ESH	GU
EZ	EZTH1
GO	TL
GU	GUQ
HQ	QU
JC	TS
LM	LMC
LM	SUP
LMC	LMH
LT	TSO
OH	ZW
QU	UNQU1
SU	SUC
SUC	SUP
TL	TLUN1
TLUN1	TLUN2
TLUN2	UN
TS	YN
TSC	TSO
TSC	YN
UN	UNQU1
ZW	ZWCV1
ZWCV1	ZWCV2
